/* body {
	background-color: #111;
}

input {
	width: 50vw;
	height: 50px;
	margin: auto;
	margin-top: 10%;
	background-color: #eee;
	font-size: 18px;
	padding: 2px 30px;
	border-radius: 16px;
	border: none
} */